<?xml version="1.0" encoding="UTF-8" ?>
<!--~
  ~ Copyright (c) 2021
  ~ @Project: HeimaInterview-Backend
  ~ @Author: Finger
  ~ @FileName: UserDao.xml
  ~ @LastModified: 2021/12/13 10:24:13
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.admin.mapper.RoleMapper">
    <insert id="addRoleToModule">
        INSERT INTO ss_role_module
        VALUES
        <foreach collection="moduleIds" item="moduleId" separator=",">
            (#{roleId},#{moduleId})
        </foreach>
    </insert>
</mapper>