<?xml version="1.0" encoding="UTF-8" ?>
<!--~
  ~ Copyright (c) 2021
  ~ @Project: HeimaInterview-Backend
  ~ @Author: Finger
  ~ @FileName: UserDao.xml
  ~ @LastModified: 2021/12/13 10:24:13
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.admin.mapper.UserMapper">
    <update id="updataUser">
        update ss_user
        <set >
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="birthday != null">
                user_name = #{birthday},
            </if>
            <if test="joinDate != null">
                join_date = #{joinDate},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
        </set>
        where user_id = #{userId}
    </update>

     <select id="selectByPage" resultType="com.itheima.admin.pojo.User">
        select * from ss_user
        <where>
            <if test="status != null">
                and state = #{status}
            </if>
            <if test="username != null">
                and user_name like CONCAT('%',#{username},'%')
            </if>
        </where>
    </select>
</mapper>